.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jsonInputContainer {
  width: 300px;
  height: 300px;
}

.inputField {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.jsonFormContainer {
    width: 200px;
    margin-left: 10px;
    height: 300px;
    overflow-y: auto;
    border: 1px solid black;
    border-radius: 5px;
}

.inputContainer {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputStye {
  width: 180px;
  height: 40px;
}





